<link href="http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic" rel="stylesheet" type="text/css">

<style>
    .monitoring-directive .m-status-img{
         width: 16px; 
         height: 16px;
         margin-bottom: 3px;
    }

    .monitoring-directive h4,
    .monitoring-directive span
    {
        font-family: Play, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 15.4px;
        color: rgb(103, 106, 108);
    }

    .monitoring-directive span {
        padding-top: 1px;
    }

    .monitoring-directive h4 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .monitoring-directive ul li {
        cursor: pointer;
    }

    .monitoring-directive canvas {
        width: 100%;
        height: 180px;
    }

    .monitoring-directive ul.cpu-info {
        margin-left: 13px;
        margin-top: 15px;
    }
</style>

<div class="monitoring-directive">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-repeat="server in servers">
            <a aria-controls="s_{{server.id}}" role="tab" data-toggle="tab" ng-click="selectServer(server)">
                <img ng-src="{{uiHelpers.getStatusImageSource(server)}}" class="m-status-img"/>&nbsp;<span>{{server.machineName}}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
            <div class="row pull-right" ng-if="currentServer" style="margin-top: 2px;">
                <div class="col-xs-12">
                    <div class="panel-cell" style="padding: 0">
                        <div class="dropdown filter" style="padding: 0">
                            <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">Filter</a>
                            <div class="dropdown-menu" role="dropdown" aria-labelledby="dropdownMenu" style="margin-top: -1px; width: 350px; padding: 0;margin-left: -277px;">
                                <form method="GET">
                                    <div class="pad-all_15" style="padding: 25px" id="userFilter">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label style="display: inline">Show data for last</label>
                                                <select class="form-control" ng-model="query.minuteFilter" ng-options="obj.text for obj in data.filterVarians track by obj.value"></select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="list-unstyled cpu-info">
                    <li ng-repeat="cpu in currentServer.processors">
                        <h4>{{cpu}}</h4>
                    </li>
                </ul>
                <div ng-repeat="item in serverData.items | orderBy: 'order'" style="height: 200px;" class="{{ uiHelpers.getItemClass(item) }}">
                    <h4 style="">{{item.name}} - {{item.currentValue}} {{item.currentValueDisplay}}</h4>
                    <canvas id="mchart_{{item.name}}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


