<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-repeat="server in servers">
        <a href="#s_{{server.id}}" aria-controls="s_{{server.id}}" role="tab" data-toggle="tab" ng-click="setCurrentServer(server)">{{server.machineName}}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
            <div ng-repeat="item in serverData.items" style="height: 200px;" class="{{getWidthClass(item.name)}}">
                <h4 style="margin-bottom: 0">{{item.name}} - {{item.currentValue}} {{item.currentValueDisplay}}</h4>
                <canvas id="mchart_{{item.name}}" style="width: 100%;height: 180px"></canvas>
            </div>
        </div>
    </div>
</div>
