@{
    ViewData["Title"] = "Intergration example";
}

<h2>Windows Server Monitoring Integration</h2>

<div class="well" style="font-size: 17px;">
    &lt;script src=&quot;@(ViewBag.CurrentUrl)js/monitoring.min.js&quot;&gt;&lt;/script&gt; <br /><br />

    &lt;server-monitoring host=&quot;@ViewBag.CurrentUrl&quot; &gt;&lt;/server-monitoring&gt;
</div>

<script src="~/js/monitoring.min.js"></script>

<script>
    var monitoringApp = angular.module('monitoring', ['serverMonitoring'])
</script>

<server-monitoring host="@(ViewBag.CurrentUrl)"></server-monitoring>