<!DOCTYPE html>
<html ng-app="serverMonitoring">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windows Server Monitoring Tool</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular.min.js"></script>
</head>
<body>
    <div style="padding: 20px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - ServerMonitoring.Web</p>
        </footer>
    </div>
</body>
</html>
